form {
    width: 400px; }
    /* hover */
    /* focus */
    textarea { width: 100%;
    }
button {
    float: right;
    padding: 5px 15px; background-color: #f96666; color: white;
    font-size: 17px; border-radius: 10px; border: none;
    }

h3:hover{
    background-color: black;
    color:white;
}

textarea:hover{
    outline-style: solid;
    outline-color: black;
    background-color: rgba(244, 207, 204, 0.936);
}

input#red:checked + label{
    background-color: red;
    color:white;
}

input#blue:checked + label{
    background-color: blue;
    color:white;
}
input#yellow:checked + label{
    background-color: yellow;
    color:black;
}
button:active{
    background-color: rgb(199, 196, 196);
    color:#f96666;
}